.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent,rgba(0, 0, 0, 1));
  background-color: rgb(32, 87, 100);
  z-index: -1;
}